/* I removed all of the css files because it was getting hard to keep track of all the
   different css files and added the code to one singular file. If you prefer having them all
   seperate that's ok but if you can you put them in their own folder. I added where each of the css 
   styling started and ended from their respective files.
 */


/* Start of css styling from heading.css */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header  { 
    background-color: rgb(27, 55, 92);
    overflow: hidden;
    display: flex;
    /* Do you prefer the centered nav menu or not? */
    justify-content: center; 
    /* I put margin-bottom instead of all of the <br> tags */
    margin-bottom: 4em;
} 

.unix {
    color: rgb(199, 49, 49);
}

h1 {
    color: white;
    padding-right: 20px;
    padding-top: 10px;
}

a {
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    line-height: 70px;
}

a:hover {
    background-color:rgb(13, 32, 56);
}

/* End of css styling from heading.css */


/* Start of css styling from index.css */

.content {
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(27, 55, 92);
    padding: 20px;
    margin-bottom: 4em;
}

.container {
    text-align: center;
}

.box {
    background-color:rgb(27, 55, 92);
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 20px;
}

.info {
    color:  white;  
    font-size: 30px;
    margin-right: 50%;
    margin-bottom: 1em;
}

.learn {
    background-color: rgb(199, 49, 49);
}

.learn:hover {
    background-color: rgb(158, 37, 37);
}

/* End of css styling from index.css */

/* Chapters.css */

/* make buttons stylized; but currently is not working */
button {
    color: black;
}

button:hover {
    background-color:rgb(127, 131, 131);
}

.sidebar {
    position: fixed;
    width: 150px;
    background-color:rgb(182, 189, 189);
    padding: 25px;
}

.chapters {
    color: black;
    font-size: 20px;
}

.paragraph {
    color: black;
    background-color: rgb(182, 189, 189);
}

.main {
    background-color:rgb(13, 32, 56);
}
